* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222f3e;
  padding: 0 400px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  text-align: center;
  font-size: 2em;
  color: #ff9f43;
}
.string {
  font-size: 1.3em;
  text-align: center;
  width: 500px;
  height: 50px;
  outline: none;
  border-radius: 0;
  border: none;
  background-color: #c8d6e5;
  color: #222f3e;
  margin: 30px 0;
}
.output {
  text-align: center;
  font-size: 1.5em;
  color: #ff9f43;
}
