:root {
    --primary: #EA40A4;
    --business: #3A82EE;
    --personal: var(--primary);
    --dark: #313154;
    --grey: #888;
    --light: #EEE;
    --danger: #FF5B57;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}

input:not([type='radio']):not([type='checkbox']), button {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: initial;
}

body {
    background-color: var(--light);
    color: var(--dark);
}

section {
    margin: 2rem 0;
    padding: 0 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greeting .title {
    display: flex;
}

.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title,
.greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-todo input[type='text'] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

input[type='radio'],
input[type='checkbox'] {
    display: none;
}

.bubble {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--business);
    border-radius: 50%;
    box-shadow: var(--business-glow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after {
    content: '';
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-todo input[type='submit'] {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--business);
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.125rem;
    cursor: pointer;
    box-shadow: var(--personal-glow);
    transition: 0.2s ease-in-out;
}

.create-todo input[type='submit']:hover {
    opacity: 0.75;
}

.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: var(--dark);
    /* min-width: 0; */
    /* font-size: 1.125rem; */
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button{
    display: block;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 0.75;
}

.todo-item .actions .edit {
    background-color: var(--business);
    margin-right: 0.5rem;
}

.todo-item .actions .delete {
    background-color: var(--danger);
    margin-right: 0.5rem;
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
}