    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    body{
        font-family: 'Lato', sans-serif;
        background-color: palegoldenrod;
     }

    h1{
        text-align: center;
    }

    h3{
        text-align:end;
    }

    h4{
        text-align: left;
    }
