<!--  -->
{% extends 'layout.html' %}

{% block description %}
    <meta name="description" content="Youtube Video Downloader is an online tool to download Youtube Videos">
{% endblock description %}

{% block keywords %}
    <meta name="keywords" content="Youtube Video Downloader, Download YouTube Video, YouTube Video Downloader">
{% endblock keywords %}
<!-- new -->
{% block title %}Youtube Video Downloader{% endblock title %}
{% block ytactive %}active{% endblock ytactive %}

{% block content %}
    <h2 class="mt-3 heading text-center">Youtube Video Downloader</h2>
    <div class="mt-2 para text-center">
        Convert and Download all YouTube videos to high quality mp4 or mp3 files, by just inputting the url.
    </div>

    <!-- Alert Box -->
    <div 
        class="mt-2 alert alert-danger alert-dismissible fade show text-center" 
        role="alert" 
        style="display: none" 
        id="alert-box">
        <span></span>
        <button 
            type="button" 
            class="btn-close" 
            data-bs-dismiss="alert" 
            aria-label="Close">
        </button>
    </div>

    <form class="container-md mx-auto youtubeForm" id="youtubeForm">
        <input 
            class="form-control mt-3 p-2" 
            type="text" 
            placeholder="Enter the YouTube video URL" 
            aria-label="YouTube URL input field" name="url">
        <button 
            class="btn btn-danger mt-3 py-2 px-3"
            type="submit" 
            id="youtube_download_btn">
            Convert
        </button>
        <button 
            class="btn btn-danger mt-3" 
            type="button" 
            style="display: none" 
            id ="youtube_loading_btn" disabled>
            <span 
                class="spinner-border spinner-border-sm" 
                role="status" 
                aria-hidden="true"></span>
            Loading...
        </button>
    </form>
    
    <form action="/download" method="post" class="downloadForm" id="downloadForm" style="display: none">
        <div class="card my-4 mx-auto" style="max-width: 1300px;">
            <div class="row no-gutters">
              
              <div class="col-sm-5 col-xs-4">
                <img 
                    src="" 
                    class="card-img thumbnail_img" 
                    alt="youtube thumbnail image"/>
              </div>

              <div class="col-sm-7 col-xs-8">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">
                    <div class="col-md-5">
                      <select 
                        name="itag" 
                        class="form-select input-sm" 
                        aria-label="Default select example">
                      </select>
                    </div>
                    <button 
                        type="submit" 
                        class="btn btn-danger mt-3" 
                        id = "download_btn">
                      Download
                    </button>
                    <!-- <button 
                        class="btn btn-danger mt-3" 
                        type="button" 
                        style="display: none" 
                        id ="loading_btn" disabled>
                      <span 
                        class="spinner-border spinner-border-sm" 
                        role="status" 
                        aria-hidden="true"></span>
                      Loading...
                    </button> -->
                  </p>
                </div>
              </div>

            </div>

          </div>
    </form>
   
{% endblock content %}